<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Add comment</title>
</head>
<body>
<div th:if="${message}">
    <div th:text="${message}"></div>
</div>
<form th:action="@{/addComment}" method="post">
    <div><label> Name Object : <input type="text" name="name object"/> </label></div>
    <div><label> Add Comment: <input type="password" Comment="comment"/> </label></div>
    <div><input type="submit" value="Save"/></div>
</form>
</body>
</html>